body {
  background: url("images/AdobeStock_624561388.jpeg");
  background-size: cover;
  background-position: center;
  font-family: "Poppins", serif;
  backdrop-filter: blur(8px);
  position: relative;
}

.container {
  background: linear-gradient(135deg, #00feba, #5b548a);
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  color: #ffff;
}
form {
  margin: 20px 10px 20px 10px;
}
.search-container {
  border-bottom: 1px;
}

.search-input {
  width: 80%;
  color: #555;
  background: #ebfffc;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  margin: 10px 10px 10px 1px;
}

.search-btn {
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #333;
  margin-left: 5px;
  font-size: 16px;
}
main {
  padding-bottom: 0;
  margin-top: 0px;
}
.current-temp {
  margin-bottom: -80px;
}

.current-temp-value {
  font-size: 80px;
  position: relative;
  bottom: 130px;
  left: 380px;
}

.current-temp-unit {
  font-size: 28px;
  position: relative;
  left: 370px;
  bottom: 170px;
}
.current-temp-emoji {
  font-size: 60px;
  width: 100px;
  height: 100px;
  position: relative;
  left: 400px;
  bottom: 105px;
  justify-content: flex;
}
h1 {
  margin: 0;
  font-size: 48px;
  line-height: 48px;
}
.current-details {
  font-size: 14px;
  line-height: 25px;
  color: #444;
}
.current-details strong {
  color: #222;
}
/* forcast container */

.weather-forecast-container {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}
.forecast-day {
  background: rgba(65, 50, 100, 0.08);
  border-radius: 12px;
  padding: 10px;
  box-shadow: #222;
}

.forecast-date {
  text-align: center;
  color: #555;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.forecast-emoji {
  width: 88px;
  height: 88px;
  display: block;
}
.forecast-temperatures {
  text-align: center;
  color: #222;
  font-size: 14px;
  justify-content: center;
  display: flex;
  margin-top: 10px;
}
.forecast-temperature {
  padding: 0 10px;
}
footer {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: #444;
  font-weight: bold;
}
a {
  color: #222;
}
